* {
  overflow: hidden;
  margin: 0;
  padding: 0;

}
:host ::ng-deep.p-dropdown {
  width: 100% !important;
  height: 28px !important;
}
.p-dropdown {
  font-size: 26px !important;
}
.error {
  color: red;
  font-size: 12px;
}

table {
  width: 100%;
  font-family: var(--font-family);
  font-weight: normal;
  font-size: x-large;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

td {
  width: 17%;
  height: 17%;
  padding: 1px; /* Ajusta el padding según tus necesidades */
  margin: 1px;
  border: 0.2px solid #ddd; /* Añade un borde para mejor visualización */
  text-align: center; /* Centra el texto */
}

th {
  background-color: #afc8f7; /* Color de fondo para los encabezados */
  padding: 5px; /* Padding para los encabezados */
  border: 0.2px solid #ddd;
  text-align: center;
}
.card {
  padding: 1rem;
}
