<body>
  <div class="bg-primary-200 p-3 font-bold text-gray-700">
    <div class="flex justify-content-between flex-wrap">
      <div
        class="flex align-items-center justify-content-center w-4rem h-3rem bg-primary font-bold border-round m-2"
      ></div>
      <div
        class="flex align-items-center justify-content-center w-4rem h-3rem bg-primary font-bold border-round m-2"
      >
        2
      </div>
      <div class="flex align-items-center h-4rem">
        <div class="flex mt-1 mr-6">
          <!-- [style]="{ width: '145px', height: '45px'}" -->
          <p-button
            icon="fas fa-plus ml-2"
            label="Añadir tarea"
            styleClass="p-1 h-2rem w-9rem bg-blue-400 border-blue-400"
            (onClick)="dialogTask()"
          />
        </div>
        <div
          class="border-circle w-2rem h-2rem mt-2 ml-5 mr-2 flex align-items-center justify-content-center bg-blue-100"
        >
          <i class="fa-regular fa-user"></i>
        </div>
        <h3 class="mt-2 mr-2">{{ usuario }}</h3>
      </div>
    </div>
  </div>
  <div class="card">
    <p-table [value]="alltasks">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Asignada a</th>
          <th>Estado</th>
          <th>Descripción</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.nombre }}</td>
          <td>{{ task.asignadoa }}</td>
          <td>{{ task.estado.nombre }}</td>
          <td [innerHTML]="task.descripcion"></td>
          <td>
            <div class="button-container">
              <p-button
                type="button"
                pButton
                pRipple
                icon="fas fa-trash"
                (click)="deleteTask(task.id)"
              ></p-button>
              <p-button
                type="button"
                pButton
                pRipple
                icon="fas fa-pen"
                (click)="loadForm(task.id)"
              ></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div
          *ngIf="alltasks && alltasks.length === 0"
          class="flex align-items-center justify-content-between"
        >
          No hay ningún registro.
        </div>
      </ng-template>
      <p-toast />
    </p-table>
  </div>

  <!-- DIALOGO PARA CREAR TAREA -->

  <p-dialog
    header="Header"
    (onHide)="resetTask()"
    [(visible)]="displayDialog"
    [style]="{ width: '60vw' }"
  >
    <ng-template pTemplate="header">
      <div
        class="m-2 p-2 w-full"
        style="border-bottom: solid 1px rgb(94, 94, 95)"
      >
        <h3 class="font-bold">Crear tarea</h3>
      </div>
    </ng-template>
    <form (ngSubmit)="onSubmit()">
      <div class="grid w-full h-full">
        <div class="col-12">
          <div class="flex flex-column gap-2 p-2 mr-1">
            <label>Nombre</label>
            <input
              pInputText
              name="nombre"
              type="text"
              required
              [(ngModel)]="currentTask.nombre"
              style="padding: 7px"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="flex flex-column gap-2 p-2">
            <label>Asignado a</label>
            <p-dropdown
              #dropdownasignado
              id="dropdownasignado"
              [options]="asignados"
              name="selectasignado"
              [checkmark]="true"
              [(ngModel)]="selectasignado"
              (onChange)="($event)"
              optionLabel="nombre"
              dataKey="value"
              autoWidth="false"
              appendTo="body"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="flex flex-column gap-2 p-2">
            <label>Estado</label>
            <p-dropdown
              id="dropdownestado"
              [options]="estados"
              name="estado"
              [checkmark]="true"
              optionLabel="nombre"
              dataKey="nombre"
              (onChange)="($event)"
              [(ngModel)]="selectestado"
              [showClear]="true"
              autoWidth="false"
              appendTo="body"
            ></p-dropdown>
          </div>
        </div>
        <div class="col-12">
          <div class="flex flex-column gap-2 p-2">
            <label>Descripción</label>
            <p-editor
              name="descripcion"
              [(ngModel)]="currentTask.descripcion"
              [style]="{ height: '257px' }"
            ></p-editor>
          </div>
        </div>
      </div>
      <div class="flex justify-content-center mb-2 mr-2 mt-2">
        <p-button
          type="submit"
          label="Crear tarea"
          styleClass="p-1 h-3rem w-12rem bg-blue-400 border-blue-400"
        ></p-button>
      </div>
    </form>
  </p-dialog>
</body>
