body {
  overflow: hidden;
  height: 100vh;
  width: auto;
}

h2 {
  font-size: 400%;
}

h3 {
  font-size: 250%;
}

p {
  font-size: large;
}

input, p-password {
  height: 35px;
  width: 290px;
}

p-button {
  padding: 10px;
}
